<h1 class="closed">SoundLock</h1>

<div id="status">
 Recorder Status...
</div>

<div id="control_panel">
  <a id="record_button" onclick="Recorder.record('audio', 'audio.wav');" href="javascript:void(0);" title="Record"><img src="/images/record.png" width="24" height="24" alt="Record"/></a>
  <span id="save_button">
    <span id="flashcontent">
      <p>Your browser must have JavaScript enabled and the Adobe Flash Player installed.</p>
    </span>
  </span>
  <a id="play_button" style="display:none;" onclick="Recorder.playBack('audio');" href="javascript:void(0);" title="Play"><img src="/images/play.png" width="24" height="24" alt="Play"/></a>
</div>

<div id="upload_status">
</div>

<form id="uploadForm" action="/record" method="post">
</form>

<table id="locks">
  <tr>
    <th>#</th>
    <th>at</th>
    <th># solved</th>
    <th>beats</th>
  </tr>
<% @locks.sort_by(&:created_at).each do |lock| %>
  <tr>
    <td><a href="/lock/<%= lock.id %>"><%= lock.id %></a></td>
    <td><%= lock.created_at.strftime("%Y-%m-%d %I:%M") %></td>
    <td><%= lock.solvers.size %></td>
    <td><%= lock.beats.inspect %></td>
  </tr>
<% end %>
</ul>
